<!DOCTYPE html>
<html lang="en">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script>
		$(window).load(function() {
		// Animate loader off screen
			$(".se-pre-con").fadeOut("slow");;
			$(".hexagon").fadeIn("slow");;
		});
	</script>
	
	<!--FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Over+the+Rainbow' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<!--END FONTS-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/logos/favicon-96x96.png">

    <title> anais a. lee </title>

    <!--hover stylesheet-->
    <link href="css/hover.css" rel="stylesheet" media="all">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Animate.css CSS -->
    <link href="css/animate.css" rel="stylesheet" media="all"/>

    <!--required for navbar atm-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!--load my stylesheet after bootstrap to override-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body onload = "startTimer()">
	<div class="se-pre-con" style="font-family: 'Chelsea Market', cursive; color: rgb(242, 239, 224);">
	</div> <!--preloader-->

	<div id="top"> </div>
	<div class="site-wrapper firstpage" style="padding-top:55px;padding-bottom:250px; text-align:center;">
		<div class="site-wrapper-inner">

			<table style="width:100%; margin-left:-9%;">
				<tr align="center" style="width:100%;"> 
					<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2 heximg1 wow animated fadeIn"></div></div></div></div>
					</td>
					<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2 heximg2 wow animated fadeIn"></div></div></div></div>
					</td>	 
			 		<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><a href="#code"><div class="hexagon-in2 heximg3 wow animated fadeIn"> 
							<p style="padding-top:20%; margin: 0 auto; color: #363C3F; font-family: 'Quicksand', sans-serif; font-size:20px;"> code </p>
						</div></a></div></div></div>
					</td>
				</tr>
			</table>

			<table style="width:100%; margin-left:-9%; margin-top:-30px;"> 
				<tr align="center" style="width:100%;"> 
					<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2 heximg4 wow animated fadeIn"></div></div></div></div>
					</td>
					<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2 heximg5 wow animated fadeIn"></div></div></div></div>
					</td>
					<td class="hvr-grow-rotate">
			 			<div>
							<a href="#aboutme"><img id="logo" src="images/logos/logo.svg" class="wow animated swing mainlogo" style="width:300px;padding-top:15px;padding-bottom:-100px;"></a> 
						</div>	
					</td>
					<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><a href="#productdesign"><div class="hexagon-in2 heximg6 wow animated fadeIn">
							<p style="padding-top:20%; margin: 0 auto; color: #363C3F; font-family: 'Quicksand', sans-serif; font-size:20px;"> design </p>
						</div></a></div></div></div>
					</td>		
				</tr>
			</table>

			<table style="width:100%; margin-left:-9%; margin-top:-30px;">
				<tr align="center" style="width:100%;"> 
					<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2 heximg7 wow animated fadeIn"></div></div></div></div>
					</td>
					<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2 heximg8 wow animated fadeIn"></div></div></div></div>
					</td>	
			 		<td style="width:210px;" class="hvr-grow"> 
						<div class="hexagon hexagon1"><div class="hexagon-in1"><a href="#productdesign"><div class="hexagon-in2 heximg9 wow animated fadeIn">
							<p style="padding-top:20%; margin: 0 auto; color: #363C3F; font-family: 'Quicksand', sans-serif; font-size:20px;"> create </p>
						</div></a></div></div></div>
					</td>	
				</tr>
			</table>

		</div><!--end site-wrapper-inner-->	
	</div> <!--end site-wrapper first-->

	<div class="page-break-wrapper">
		 <div class="top-diag-right top-first"> </div>
	    <div class="bottom-diag-right bottom-second"></div>
	</div>

        
    <!-- BODY/CONTENT of page -->
    <nav id="mainNav" class="navbar transparent navbar-inverse navbar-fixed-top smoothscroll">
        <div class="container-fluid"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#top" style="font-size:50px; ">
                	<img id="straight-logo" src="images/logos/straight-logo.svg" style="width:230px; margin-top:-25px; fill:rgb(242, 239, 224);" class="hvr-shrink">
                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="font-family: 'Quicksand', sans-serif; font-size: 15px">
                <ul class="nav navbar-nav navbar-right">
                	<li>
                		<a class="hvr-grow" href="#top"> home</a>
                    <li>
                        <a class="hvr-grow" href="#aboutme">about me/resume</a>
                    </li>
                    <li>
                        <a class="hvr-grow" href="#code">code</a>
                    </li>
                    <li>
                        <a class="hvr-grow" href="#productdesign">product design</a>
                    </li>
                    <li>
                        <a class="hvr-grow" href="#photography">photography</a>
                    </li>
                    <li>
                        <a class="hvr-grow" href="#finearts">other arts</a>
                    </li>
                    <li>
                        <a class="hvr-grow" href="#contactme">contact me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="aboutme"></div>
	<div class="site-wrapper secondpage" >
			<div class="site-wrapper-inner">

					<div id="div-wrapper" style="padding-top:100px; padding-bottom:100px; width:90%; margin:0 auto;">

						<div class="single-div" style="top:0px; width:40%;">
							<div style="width:90%; float:right; ">
								<h2 style="height: 70px; width:150px; font-family: 'Chelsea Market', cursive; float:left"> about <br> me </h2>

								<p align="left"> Hi there! I'm Angela. Welcome to my portfolio! This year I will graduate from the <b>University of Pennsylvania</b> with a <b>BSE in Digital Media Design</b>, a fusion between Computer Science and Computer Graphics. </p>

								<p align="left"> When I'm not busy coding, I create new things and love to travel! I thrive on change and making new things, but also adore capturing fleeting moments through photography. Keep scrolling (or use the navigation bar above) to learn more! </p>

								<div style="width:80%; margin: 0 auto;">
									<p style="text-align:left"> 
										<b>email:</b> anaislee@seas.upenn.edu</br>
										<b>cell: </b> 703-309-1339<br>
										<b>favorite languages:</b> C++, Java<br>
									<p style="text-align:left"><a href="images/anaislee2016resume.pdf" target="_blank">click here to view my resume</a>
								</div>
							</div>
						</div>

						<div class="single-div" style="width:60%;">
							<div class="wow bounceInUp" style="width:100%;">
									<img src="images/me.svg" style="width:100%; margin:0 auto;" class="hvr-rotate">
							</div>
							
						</div>

						
					</div>
					
			</div> <!--end site-wrapper-inner-->
    </div> <!--end site-wrapper second-->

	<div class="page-break-wrapper">
	    <div class="top-diag-left top-second"> </div>
	    <div class="bottom-diag-left bottom-third"></div>
	</div>


    <!-- BODY/CONTENT of page -->
    <div id="code"></div>
	<div class="site-wrapper thirdpage" >
		<div class="site-wrapper-inner">

				<div id="div-wrapper" style="padding-bottom:500px; width:100%; margin:0;">

						<div class="single-div" style="width:55%;margin:0;">
							<div style="width:100%;  margin-left:-3%; z-position: 10;" align="left" class="wow slideInLeft">
					 			<img src="images/laptop.png" style="width:650px;">
							</div>

							<div class="wow slideInLeft" style="margin-top:-500px; margin-left:-5%;">
								<div class="git-link" style="width:400px; padding-left:150px;margin:0px;">
									<a href="https://github.com/anais-lee" style="color: rgb(66, 66, 66); font-family: 'Chelsea Market', cursive; font-size: 15px; text-decoration:none;" target="_blank" class="button hvr-buzz-out">
										<img src="images/logos/github-logo.png" style="width:70px;"> angela's git 
									</a>
								</div>
							</div>
						</div>

						

						<div class="single-div" style="padding-top:200px; width:45%; "> 
							<div style="width:80%;">
								<h2 style="height: 20px; width: 100px; font-family: 'Over the Rainbow', cursive; float: left; "> code </h2>

					        	<p align="left" style="padding-top: 20px"> Digital Media Design combines computer science fundamentals with a focus on computer graphics techniques. My <b>strongest languages</b> are <b>Java</b> and <b>C++</b>. </p>

					        	<p align="left"> My public <b>github account</b> can be found at the link to the <b>left</b>. Source code for this site can be found under the Repo titled "Webpage." </p>
					        </div>
				        </div>
				</div>




        </div> <!--end site-wrapper-inner-->
    </div> <!--end site-wrapper second-->

    <div class="page-break-wrapper">
    	<div class="top-diag-right top-third"> </div>
    	<div class="bottom-diag-right bottom-fourth"></div>
	</div>

    

    <!-- BODY/CONTENT of page -->
    <div id="productdesign"></div>
	<div class="site-wrapper fourthpage">
		<div class="site-wrapper-inner">

			<div></div>
				<div id="div-wrapper" style="padding-bottom:100px; width:100%; margin:0 auto;">

						<div class="single-div" style="width:40%;margin:0;">
							<div style="width:90%; margin:0 auto; padding-top:30%; padding-left:10px;">
								<h2 style="height: 70px; width:150px; font-family: 'Chelsea Market', cursive; float:left"> product <br> design </h2>

								<p align="left"> I love to <b>craft and design new products</b> in my free time! These projects started off as personal projects, and they grew to something bigger most of the time. I'm continuously learning ways to make a bigger impact with my passions. </p>  

								<p align="left"> So far, I have worked with materials such as metals, leather, and graphics. I am focusing on <b>jewelry</b> for now, but hope to create a brand of leather goods in the near future. Below are a few of my favorite examples! </p>

							</div>

						</div>

						<div class="single-div" style="width:60%;margin-top:70px; margin-right:-5%;"> 
							<div style="width:100%; float:right;padding-top:-50%; margin-right:-5%;" class="wow slideInRight">
								<img src="images/product_design/messy2.jpg" style="width:100%;">
							</div>
				        </div>
				</div>

				<div id="projects" style="padding-top:50px;"></div>


				<div class="projects-only" style="margin:0 auto;">

		<!--section for jewelry-->
					
					<table style="width:100%; ">
						<tr align="center" style="width:100%;"> 
							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/jewelry/diamondcloseup.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> "TRIPLE DIAMOND NECKLACE" <br> 
									<a href="https://www.etsy.com/shop/BetterinGold" target="_blank" style="color:rgb(149, 154, 121);text-decoration:none;" class="hvr-grow">buy it here</a> </p>
								</div>
					 		</td>
					 		<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/jewelry/ynecklacecloseup.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> "MIXED-MEDIA LOOP Y-NECKLACE" <br> 
									<a href="https://www.etsy.com/shop/BetterinGold" target="_blank" style="color:rgb(149, 154, 121);text-decoration:none;" class="hvr-grow">buy it here</a> </p>
								</div>
					 		</td>
							
						</tr>
					</table>

					<table style="width:100%" >
						<tr align="center" style="width:100%;"> 
							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/jewelry/circlecloseup.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> "CIRCLE PENDANT Y-NECKLACE" <br> 
									<a href="https://www.etsy.com/shop/BetterinGold" target="_blank" style="color:rgb(149, 154, 121);text-decoration:none;" class="hvr-grow">buy it here</a> </p>
								</div>
					 		</td>

					 		<td style="width:555px;"> 
								<div class="project_text wow fadeInRight" style="width:370px; float:center;height:auto; text-align:left;">
									<h3 style="font-family: 'Over the Rainbow', cursive;"> NO. 1: jewelry design 	</h3>
										<p> My currently ongoing project is my jewelry shop on <b>Etsy</b>. I design and hand-make the pieces with long-lasting materials such as gold and sterling silver. I put a lot of time into finding pieces that fit my aesthetic without compromising <b>quality</b>. Visit my etsy shop, <b>BetterinGold</b>, at the link below: <br> 
										
											<div style="margin:0 auto; text-align:left; font-family: 'Quicksand', sans-serif; font-size:16px;">
												<a href="https://www.etsy.com/shop/BetterinGold" target="_blank" style="text-decoration:none;" class="hvr-grow"><img src="images/logos/etsy-icon.png" style="width:50px;"> visit my etsy shop here! </a> 
											</div>
										</p>
								</div>
							</td>
							
						</tr>
					</table>

					<table style="width:100%;padding-bottom:150px;"  >
						<tr align="center" style="width:100%;"> 
							
							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/jewelry/triangle.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> "TRIANGLE PENDANT NECKLACE" <br> 
									<a href="https://www.etsy.com/shop/BetterinGold" target="_blank" style="color:rgb(149, 154, 121);text-decoration:none;" class="hvr-grow">buy it here</a> </p>
								</div>
					 		</td>

							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/jewelry/claspcloseup.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> 
									<a href="https://www.etsy.com/shop/BetterinGold" target="_blank" style="color:rgb(149, 154, 121);text-decoration:none;" class="hvr-grow">browse all products here</a> </p>
								</div>
					 		</td>
						</tr>
					</table>



					<div id="handbag" style="padding-top: 50px;"></div>


			<!--section for handbag designs-->
					<table style="width:100%;" >
						<tr align="center" style="width:100%;"> 
							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/handbag/sewing.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> HAND-SEWN WITH WAXED THREAD FOR DURABILITY </p>
								</div>
					 		</td>

							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/handbag/side.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> HEX-SHAPE </p>
								</div>
					 		</td>
						</tr>

					<table style="width:100%">
						<tr align="center" style="width:100%;"> 
							<td style="width:555px;"> 
								<div class="project_text wow fadeInLeft" style="width:370px; float:center;height:auto; text-align:left;">
									<h3 style="font-family: 'Over the Rainbow', cursive;"> NO. 2: leather handbag </h3>
									<p> Before jewelry, I had been working on designing handbags. Unique design was key, but more important was finding the best <b>quality materials</b> for <b>durability and timelessness</b>. This is the first handbag I created from start to end - a project that took a couple months from design to the last stitch. I am currently looking into manufacturing the bag.  <br> 
									</p>

								</div>
					 		</td>

							<td> 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/handbag/top.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> MINIMALISTIC CLOSURE </p>
								</div>
					 		</td>
						</tr>
					</table>

					<table style="width:100%;padding-bottom:150px;">
						<tr align="center" style="width:100%;"> 
							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/handbag/handles.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> ROLLED HANDLES </p>
								</div>
					 		</td>

							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/handbag/front.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> DUFFLE SHAPE </p>
								</div>
					 		</td>
						</tr>
					</table>


					<div id="clothing" style="padding-top: 50px;"></div>



			<!--section for clothing designs-->
					<table style="width:100%; ">
						<tr align="center" style="width:100%;"> 
							<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/clothes/ballet-w-denim.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> "SUITING PINAFORE DRESS"</p>
								</div>
					 		</td>
					 		<td > 
								<div class="imgwrap wow fadeIn" style="width:544px; height:auto;">
									<img src="images/product_design/clothes/boucle-w-jacket.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> "BOUCLE BABYDOLL DRESS" </p>
								</div>
					 		</td>
							
						</tr>
					</table>

					<table style="width:100%" >
						<tr align="center" style="width:100%;"> 
							<td > 
									<img src="images/product_design/clothes/sewing.jpg" style="width:544px;" class="darken">
					 		</td>

					 		<td style="width:555px;"> 
								<div class="project_text wow fadeInRight" style="width:370px; float:center;height:auto; text-align:left;">
									<h3 style="font-family: 'Over the Rainbow', cursive;"> NO. 3: fashion design </h3>
									  <p> I love to design and sew new clothing inspired by the things I see every day! I haven't pushed this project into a public stage at this time, but hope to in the near future. 
									</p>
								</div>
							</td>
						</tr>
					</table>

					<table style="width:100%;" >
						<tr align="center" style="width:100%;"> 
							<td > 
								<div class="imgwrap wow fadeIn" style="width:493px; height:auto;">
									<img src="images/product_design/clothes/cape.jpg" style="width:493px;" class="darken">
									<p class="imgDescription"> DETAIL </p>
								</div>
					 		</td>

							<td > 
								<img src="images/product_design/messy.jpg" style="width:598px;">
					 		</td>
						</tr>
					</table>

					<table style="width:100%;padding-bottom:100px;" >
						<tr align="center" style="width:100%;"> 
							<td > 
								<div class="imgwrap wow fadeIn" style="width:749px; height:auto;">
									<img src="images/product_design/clothes/ballet_detail.jpg" style="width:749px;" class="darken">
									<p class="imgDescription"> DETAIL </p>
								</div>
					 		</td>
					 		<td > 
								<div class="imgwrap wow fadeIn" style="width:341px; height:auto;">
									<img src="images/product_design/clothes/floral.jpg" style="width:341px;" class="darken">
									<p class="imgDescription"> "FLORAL LINEN 2-PIECE" </p>
								</div>
					 		</td>
						</tr>
					</table>
				</div> <!--end div "projects"-->


        </div> <!--end site-wrapper-inner-->
    </div> <!--end site-wrapper second-->


	<div class="page-break-wrapper">
		<div class="top-diag-right top-fourth"> </div>
	    <div class="bottom-diag-right bottom-fifth"></div>
	</div>


    <!-- BODY/CONTENT of page -->
    <div id="photography"></div>
	<div class="site-wrapper fifthpage">
		<div class="site-wrapper-inner" align="center">

				<div id="photos"> </div>

				<div id="div-wrapper" style="width:90%; margin:0 auto;">

					<div class="single-div" style="width:45%; margin:0 auto;">
						<div style="margin:0 auto; width:90%; padding-top:370px;">
							<h2 style="height: 50px; width:200px;font-family: 'Over the Rainbow', cursive; float:left;"> photography 
							</h2>
							<p align="left"> I'm intrigued by interesting <b>compositions</b> and <b>capturing moments</b>. I love taking pictures when I'm <b>travelling</b> but also of my everyday surroundings. Here are some of my favorite photos I took of different places. Most of these images were taken with my Canon DSLR. <b>Hover</b> over any image to learn more! <br><br> 
							</p>

							<p align="center">
								<a href="https://500px.com/angelalee5" style="text-decoration:none; color:#A9A9A9" class="hvr-grow" target="_blank"> <img src="images/logos/500px_logo.png" style="width:50px;">  visit my 500px page here! </a>
							</p>
						</div>
					</div>
					
					<div class="single-div wow slideInRight" style="width:55%;margin-top:-20px; margin:0 auto;">
						<div style="margin:0 auto; margin-top:0;padding-top:-300px; width:100%;">
							<img src="images/photography/camera_black.svg" style="width:100%; color:rgb(242, 239, 224)" class="hvr-rotate"> 
						</div>
					</div>

					<div style="padding-top:50px;">
						<a href="#photo-section" class="button hvr-pulse-grow">
							<span style="font-size:1.5em; color: #b2b2b2;" class="glyphicon glyphicon-chevron-down"></span>
						</a>
					</div>
					<div id="photo-section" style="padding-bottom:100px;"></div>
				</div>


				<div class="photos-only" style="margin:0 auto;">

					<table class="wow fadeIn" style="width:100%" >
						<tr align="center" style="width:100%;"> 
							<td > 
								<div class="imgwrap" style="width:544px; height:auto;">
									<img src="images/photography/lavanderia.jpg" style="width:544px;" class="darken">
									<p class="imgDescription"> "LAVANDERIA" <br> MADRID, SPAIN. 2015. </p>
								</div>
					 		</td>
							<td > 
								<div class="imgwrap" style="width:546px; height:auto;">
									<img src="images/photography/puddle.jpg" style="width:546px;"> 
									<p class="imgDescription"> "POV" <br>
										PHILADELPHIA, PA. 2014. </p>
								</div>
							</td>
						</tr>
					</table>

					<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:533px; height:auto;">
									<img src="images/photography/boys.jpg" style="width:533px;">
									<p class="imgDescription">"TOGETHER" <br>
									MARRAKESH, MOROCCO. 2015. </p>
								</div> 
							</td>
							<td> 
								<div class="imgwrap" style="width:557px; height:auto;">
									<img src="images/photography/hiddenfaces.jpg" style="width:557px;"> 
									<p class="imgDescription"> "REPLACE, REPEAT" <br>
										MADRID, SPAIN. 2015. </p>
								</div>
							</td>
						</tr>
					</table>

					<table class="wow fadeIn" style="width:100%" >
						<tr align="center" style="width:100%; ">
							<td> 
								<div class="imgwrap" style="width:515px; height:auto;">
									<img src="images/photography/bridge.jpg" style="width:515px;"> 
									<p class="imgDescription"> "ON THE WAY" <br> 
										PHILADELPHIA, PA. 2013.</p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:576px; height:auto;">
									<img src="images/photography/catbike.jpg" style="width:576px;"> 
									<p class="imgDescription">"1/100" <br> 
										MARRAKESH, MOROCCO. 2015. </p>
								</div>
							</td>
						</tr>
					</table>

					<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:496px; height:auto;">
									<img src="images/photography/fruits.jpg" style="width:496px;"> 
									<p class="imgDescription">"PER KILO." <br> 
									BOLOGNA, ITALY. 2015. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:595px; height:auto;">
									<img src="images/photography/oranges.jpg" style="width:595px;"> 
									<p class="imgDescription">"YELLOW ORANGE" <br> 
										MARRAKESH, MOROCCO. 2015. </p>
								</div>
								
							</td>
						</tr>
					</table>

					<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:546px; height:auto;">
									<img src="images/photography/cabs.jpg" style="width:546px;"> 
									<p class="imgDescription">"SO FULL BUT ALL EMPTY" <br>
										MARRAKESH, MORROCO. 2015. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:546px; height:auto;">
									<img src="images/photography/cabdriver.jpg" style="width:546px;"> 
									<p class="imgDescription">"ANOTHER DRIVER" <br>
										MARRAKESH, MORROCO. 2015. </p>
								</div>
							</td>
						</tr>
					</table>


					<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td>
								<div class="imgwrap" style="width:477px; height:auto;">
									<img src="images/photography/phillycranes.jpg" style="width:477px;"> 
									<p class="imgDescription">"LINES" <br>
										PHILADELPHIA, PA. 2015. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:616px; height:auto;">
									<img src="images/photography/greenhouse.png" style="width:616px;"> 
									<p class="imgDescription"> "HAVEN" <br>
										PHILADELPHIA, PA. 2014. </p>
								</div>
							</td>
						</tr>
					</table>

					<!--<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:574px; height:auto;">
									<img src="images/photography/graffitibikes.jpg" style="width:574px;"> 
									<p class="imgDescription"> "IN THIS CITY" <br>
										MADRID, SPAIN. 2015. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:519px; height:auto;">
									<img src="images/photography/underwatereyes.jpg" style="width:519px;">
									<p class="imgDescription">"PEOPLE WATCHING" <br>
										MADRID, SPAIN. 2015. </p>
								</div>
							</td>
						</tr>
					</table>-->

					
					<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:577px; height:auto;">
									<img src="images/photography/pastelhouses.jpg" style="width:577px;"> 
									<p class="imgDescription">"SOUTH" <br> 
										PHILADELPHIA, PA. 2015. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:514px; height:auto;">
									<img src="images/photography/cinqueterre.jpg" style="width:514px;"> 
									<p class="imgDescription"> "JUST LIKE PINTEREST" <br> 
										CINQUE TERRE, ITALY. 2015. </p>
								</div>
							</td>
						</tr>
					</table>

					<!--<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:564px; height:auto;">
									<img src="images/photography/doorway.jpg" style="width:564px;"> 
									<p class="imgDescription"> "BLINDING HEAT, BLINDING COLORS" <br> 
										MARRAKESH, MOROCCO. 2015. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:525px; height:auto;">
									<img src="images/photography/nightmarket.jpg" style="width:525px;"> 
									<p class="imgDescription">"DINNER" <br> 
									MARRAKESH, MOROCCO. 2015.</p>
								</div>
							</td>
						</tr>
					</table>-->

					<table class="wow fadeIn" style="width:100%;" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:538px; height:auto;">
									<img src="images/photography/barber.jpg" style="width:538px;"> 
									<p class="imgDescription">"HAIRCUT" <br> 
										PHILADELPHIA, PA. 2014. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:548px; height:auto;">
									<img src="images/photography/laundry.jpg" style="width:548px;"> 
									<p class="imgDescription">"WASH & FOLD" <br> 
										PHILADELPHIA, PA. 2014. </p>
								</div>
							</td>
						</tr>
					</table>


					<!--<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:543px; height:auto;">
									<img src="images/photography/dyedwool.jpg" style="width:543px;"> 
									<p class="imgDescription">"WOOL DYE" <br> 
										MARRAKESH, MOROCCO. 2015. </p>
								</div>

							</td>
							<td> 
								<div class="imgwrap" style="width:543px; height:auto;">
									<img src="images/photography/lamps.jpg" style="width:543px;"> 
									<p class="imgDescription">"ENDLESS" <br> 
										MARRAKESH, MOROCCO. 2015. </p>
								</div>
							</td>
						</tr>
					</table>-->

					

					<!--<table class="wow fadeIn" style="width:100%" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:543px; height:auto;">
									<img src="images/photography/minivan.jpg" style="width:543px;"> 
									<p class="imgDescription">"MIX & MATCH" <br> 
										MARRAKESH, MOROCCO. 2015. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:543px; height:auto;">
									<img src="images/photography/donkey.jpg" style="width:543px;"> 
									<p class="imgDescription">"TRANSPORT" <br> 
										MARRAKESH, MOROCCO. 2015. </p>
								</div>
							</td>
						</tr>
					</table>-->


					<table class="wow fadeIn" style="width:100%; padding-bottom:350px;" >
						<tr align="center">
							<td> 
								<div class="imgwrap" style="width:554px; height:auto;">
									<img src="images/photography/3doors.jpg" style="width:554px;"> 
									<p class="imgDescription">"DOORS" <br> 
										PHILADELPHIA, PA. 2014. </p>
								</div>
							</td>
							<td> 
								<div class="imgwrap" style="width:534px; height:auto;">
									<img src="images/photography/skyline.jpg" style="width:534px;"> 
									<p class="imgDescription">"LEAVING" <br> 
										PHILADELPHIA, PA. 2014. </p>
								</div>
							</td>
						</tr>
					</table>

					


				</div> <!--end photos-only-->

        </div> <!--end site-wrapper-inner-->
    </div> <!--end site-wrapper second-->

	<div class="page-break-wrapper">
	    <div class="top-diag-left top-fifth"> </div>
	    <div class="bottom-diag-left bottom-sixth"></div>
	</div>


    <!-- BODY/CONTENT of page -->
    <div id="finearts"></div>

	<div class="site-wrapper sixthpage">
		<div class="site-wrapper-inner" style="margin: 0 auto;">

			<div id="div-wrapper" style="padding-bottom:50px; width:90%; margin:0 auto;">

				<div class="single-div" style="width:60%; margin:0 auto;">
					<div class="collage wow slideInLeft" style="margin:0 auto; width:120%; margin-left:-17%; padding-top:80px" >
						<a href="#" class="button hvr-shrink">
							<img src="images/collage.png" style="width:100%;">
						</a>
					</div>
				</div>


				<div class="single-div" style="width:40%; margin:0 auto;">
					<div style="margin:0 auto; width:85%; padding-top:300px;" >
						<h2 style="height: 70px; width:220px; font-family: 'Chelsea Market', cursive; float:left;margin-right:20px;" align="right">  miscellaneous <br>art </h2>

						<p align="left"> In addition to crafting, I work with <b>traditional</b> mediums of art such as paint, graphite, mixed media, and even clay. I also did quite a bit of 3D modeling using <b>Autodesk Maya</b> and <b>Mudbox</b> along with some hand-drawn animations. Additionally below are a few examples of my work I have accumulated throughout the years. Play the videos or <b>hover</b> over images to learn more! </p>
					</div>
				</div>

				<div style="padding-top: 60px;">
					<a href="#theart" class="button hvr-pulse-grow">
						<span style="font-size:1.5em; color: rgb(242, 239, 224);" class="glyphicon glyphicon-chevron-down"></span>
					</a>
				</div>
			</div> <!--end div-wrapper-->

				<div id="theart" style="padding-bottom:100px;"></div>

				<div class="projects-only" style="margin:0 auto; padding-bottom:100px;">

					<table class="wow fadeIn" style="width:100%; margin 0 auto;">
						<tr align="center" style="width:100%">
							<td style="padding:10px;">
								<div class="imgwrap" style="width:540px">
									<iframe src="https://player.vimeo.com/video/115413890" width="540px" height="350px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
								</div>
							</td>

							<td style="padding:10px;"> 
								<div class="imgwrap" style="width:540px">
									<iframe src="https://player.vimeo.com/video/115320279" width="540px" height="350px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
								</div>
							</td>
						</tr>
					</table>

					<table class="wow fadeIn" style="width:100%; margin 0 auto;">
						<tr align="center">
							<td style="width:550px;"> 
								<div class="project_text wow fadeInLeft" style="width:500px; float:center;height:auto; text-align:left;">
									<h3 style="font-family: 'Over the Rainbow', cursive;"> NO. 1: digital media </h3>
										<p> These projects were created on digital platforms such as Autobox Maya, Autobox Mudbox, TVPaint, Adobe Illustrator/Photoshop. </p>
										<p> The video on the <b>left</b> is a 3D character model I made on Maya/Mudbox, and the video on the <b>right</b> is a short animation I hand-drew on TVPaint. 
										<br> <b>Hover</b> over the other images to learn more!
										</p>
								</div>
							</td>


							
							<td style="padding:10px;"> 
								<div class="imgwrap" style="width:565px; height:auto;">
									<img src="images/artwork/mag.jpg" style="width:565px;"> 
									<p class="imgDescription"> MAGAZINE SPREAD LAYOUT DESIGN <br> 
										THE Walk, UNIVERSITY OF PENNSYLVANIA. 2015. </p>
								</div>
							</td>
						</tr>
					</table>

					<table class="wow fadeIn" style="width:100%; padding-bottom:150px;">
						<tr align="center">
							<td style="padding:10px;">
								<div class="imgwrap" style="width:531px; height:auto;">
									<img src="images/artwork/cafe.jpg" style="width:531px;"> 
									<p class="imgDescription">"CARPENTER & COOK CAFE 3D MODEL" <br> 
										CREATED IN AUTODESK MAYA & MUDBOX. 2014. </p>
								</div>
							</td>

							<td style="padding:10px;"> 
								<div class="imgwrap" style="width:559; height:auto;">
									<img src="images/artwork/rightfan.jpg" style="width:257px;"> 
									<img src="images/artwork/sidefan.jpg" style="width:298px;"> 
									<p class="imgDescription"> RETRO FAN 3D MODEL <br> 
										CREATED IN AUTODESK MAYA. 2014. </p>
								</div>
							</td>
						</tr>
					</table>


					
					<table class="wow fadeIn" style="width:100%;">
						<tr align="center">
							<td style="padding:10px;"> 
								<div class="imgwrap" style="width:525px; height:auto;">
									<img src="images/artwork/skull.jpg" style="width:525px;"> 
									<p class="imgDescription"> "PIROUETTE" <br> 
										GRAPHITE DRAWING. 2015. </p>
								</div>
							</td>

							<td style="padding:10px;">
								<div class="imgwrap" style="width:565px; height:auto;">
									<img src="images/artwork/ribbons.jpg" style="width:565px;"> 
									<p class="imgDescription">"WRAP" <br> 
										OIL & CHALK PASTEL. 2010. </p>
								</div>
							</td>

						</tr>
					</table>

					<table class="wow fadeIn" style="width:100%;">
						<tr align="center">
							<td style="padding:10px;"> 
								<div class="imgwrap" style="width:550px; height:auto;">
									<img src="images/artwork/beach.jpg" style="width:550px;"> 
									<p class="imgDescription"> "PARADISE" <br> 
										WATERCOLOR PAINTING. 2008. </p>
								</div>
							</td>

							<td style="width:565px;"> 
								<div class="project_text wow fadeInRight" style="width:350px; float:center;height:auto; text-align:left; margin:0 auto;">
									<h3 style="font-family: 'Over the Rainbow', cursive;"> NO. 2: paint, pencil, etc. </h3>
										<p> These projects were created using mediums such as graphite, pastel, paint, and ink. Hover over any image to learn more! 
										</p>
								</div>
							</td>

						</tr>
					</table>

					<table class="wow fadeIn" style="width:100%; padding-bottom:300px;">
						<tr align="center">
							<td style="padding:10px;">
								<div class="imgwrap" style="width:419px; height:auto;">
									<img src="images/artwork/baby.jpg" style="width:419px;"> 
									<p class="imgDescription">"SEE" <br> 
										INK. 2010. </p>
								</div>
							</td>

							<td style="padding:10px;"> 
								<div class="imgwrap" style="width:673px; height:auto;">
									<img src="images/artwork/JennySaville.jpg" style="width:673px;"> 
									<p class="imgDescription"> "HEAD RUSH" <br> 
										OIL PAINTING. 2015. </p>
								</div>
							</td>
						</tr>
					</table>


				</div><!--end projects-only-->


        </div> <!--end site-wrapper-inner-->
    </div> <!--end site-wrapper second-->

	<div class="page-break-wrapper">
		<div class="top-diag-right top-sixth"> </div>
	    <div class="bottom-diag-right bottom-seventh"></div>
	</div>


    <!-- BODY/CONTENT of page -->
    <div id="contactme"></div>
	<div class="site-wrapper seventhpage">
		<div class="site-wrapper-inner">

				<div style="margin:0 auto;width:32%; text-align:center; padding-top:100px;">

					<div style="width:100%; margin: 0 auto;">
						<h2 style="height: 50px;font-family: 'Over the Rainbow', cursive;"> contact me </h2>

						<p align="center"> Feel free to contact me if you have questions or just want to talk - I'd love to chat!</p>
					</div>
				</div>


				<div style="width:30%; margin:0 auto;padding-top:50px; text-align:center;">
					<p class="wow flipInY" align="left" style="width:100%; padding-left:15px; -webkit-animation-delay: 0.5s;animation-delay: 0.5s;"><br> 
						<a class="hvr-grow" style="color:rgb(66,66,66); text-decoration:none;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
							<b>email:</b> anaislee@seas.upenn.edu</a>
						<br> 
						<a class="hvr-grow" style="color:rgb(66,66,66); text-decoration:none;">
							<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>  
							<b> cell:</b> (703) 309 - 1339</a>
						<br>
						<br>
						<a href="https://www.linkedin.com/in/anais-angela-lee-29001263" class="hvr-grow" style="color:rgb(66,66,66); text-decoration:none;" target="_blank"> <img src="images/logos/linkedin_logo.png" style="width:50px;">
							<b>linked-in:</b> anaisangelalee (click here) </a>
						<br>
						<a href="https://www.etsy.com/shop/BetterinGold" class="hvr-grow" style="color:rgb(66,66,66); text-decoration:none;" target="_blank"> <img src="images/logos/etsy-icon.png" style="width:50px;">
							<b>etsy:</b> BetterinGold (click here) </a>
						<br>
						<a href="https://500px.com/angelalee5" class="hvr-grow" style="color:rgb(66,66,66); text-decoration:none;" target="_blank"> <img src="images/logos/500px_logo.png" style="width:50px;">
							<b>500px:</b> 500px.com/angelalee5 (click here) </a>
						<br>
						<a href="https://www.instagram.com/angelasdfgh/" class="hvr-grow" style="color:rgb(66,66,66); text-decoration:none; padding-top:-2px;" target="_blank"> <img src="images/logos/instagram_logo.png" style="width:50px;">
							<b>instagram:</b> @angelasdfgh (click here)</a>
						<br>
						<a href="https://www.pinterest.com/angelasdfgh/" class="hvr-grow" style="color:rgb(66,66,66); text-decoration:none;" target="_blank"> <img src="images/logos/pinterest_logo.png" style="width:50px;">
							<b>pinterest:</b> @angelasdfgh (click here)</a>
						<br>
					</p>   	
				</div>
		</div> <!--end site-wrapper-inner-->

		<!--FOOTER: in last page-->
		<div class="footer" style="padding-top:200px;">
			<div class="inner">
				<a class="hvr-grow-rotate" href="#top">
					<img id="mainimg" src="images/logos/logo.svg" style="width:150px; padding-bottom:20px;">
					</a>
				 <p style="font-family: 'Quicksand', sans-serif; text-decoration:none;"><a href="#top" class="hvr-shrink" style="text-decoration:none; color: rgb(66,66,66);">scroll to top</a></p>
				</p>
			</div>
		</div> <!--end mastfoot-->

    </div> <!--end site-wrapper second-->

    



				

	 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!--scroll animations-->
    <script src="js/wow.js"></script>

    <script>
    	if ( $(window).width() > 739) {     
		  new WOW().init();
		}
    </script>


    <!-- Custom Theme JavaScript -->
    <script>
	    // Scrolls to the selected menu item on the page
	    $('a[href*=#]:not([href=#])').click(function() {
	        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
	            var target = $(this.hash);
	            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	            if (target.length) {
	                $('html,body').animate({
	                    scrollTop: target.offset().top 
	                }, 1000);
	                return false;
	            }
	        }
	    });
    </script>

    <script>
    	(function ($) {
		  $(document).ready(function(){

		    // hide .navbar first
		    $(".navbar").hide();

		    // fade in .navbar
		    $(function () {
		        $(window).scroll(function () {

		                 // set distance user needs to scroll before we start fadeIn
		            if ($(this).scrollTop() > 600) {
		                $('.navbar').fadeIn(500);
		            } else {
		                $('.navbar').fadeOut(500);
		            }
		        });
		    });

		});
		  }(jQuery));
    </script>


</body>
</html>


