/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.2);
          box-shadow: inset 0 0 100px rgba(0,0,0,.2);*/
}

p.tagline {
	margin-top: 40px;
	font-size:20px;
	font-family: 'Josefin Slab', serif;
}

.firstpage {
	background: white url("images/stardust.png") repeat;
	color: #b2b2b2;
}
.secondpage {
	background: white url("images/stardust.png");
	color: #b2b2b2;
}
.thirdpage {
	background: white url("images/stardust.png");
	color: #b2b2b2;
}
.fourthpage {
	background: white url("images/stardust.png");
	color: #b2b2b2;
}
.fifthpage {
	background: white url("images/stardust.png");
	color: #b2b2b2;
}
.sixthpage {
	background: white url("images/stardust.png");
	color: #b2b2b2;
}
.seventhpage {
	background: white url("images/stardust.png");
	color: #b2b2b2;
}


.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
	margin-right: auto;
  	margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding-bottom: 20px;
  margin-top: 0;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  /*border-bottom: 2px solid transparent;*/
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  /*border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);*/
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  padding-top: 10%;
  padding-bottom: 30%;
  color: #fff;
}
.cover .btn-lg {
  padding: 10px 10px;
  font-weight: bold;
}



/*
* Bottom of viewport
*/ 
.bottomViewport {
	bottom: 5%;
	width:100%;
	left:0;
	page-break-after: always;
}


/*
 * Footer
 */

.footer {
	background: white url("images/stardust.png");
	color: #b2b2b2;
	width:100%;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}






/**
items before this line are from bootstrap template
*/

body {
	overflow:scroll;
	/* disables overscrolling*/
}

mainContents {
	background: white url("images/brickwall.png") repeat;

}


/*#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
}*/

/*#slideContainer {
	width: 400%; <!-- to contain 4 panels, each with 100% of window width -->
	height: 100%;
}*/

/*.panel {
	height: 100%;
	width: 25%; <!-- relative to parent -> 25% of 400% = 100% of window width -->
	float: left;
}*/























/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    /*color: #fff;
    background-color: rgba(0,0,0,0.7);*/
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    /*color: #333;
    background-color: rgba(255,255,255,0.8);*/
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: auto;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    /*background: #222;*/
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
	font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 5;
    width: auto;
    margin: 0;
    padding-top: 25px;
    list-style: none;
    float: right;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    float: right;
    padding-right: 10%;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #b2b2b2;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 60px;
    font-size: 20px;
    line-height: 75px;
	float: right;
    padding-right: 9%;
    margin-bottom: 10px;
}

.sidebar-nav > .sidebar-brand a {
    color: #b2b2b2;
    /* Safari */
    -webkit-transform:rotate(15deg);
    /* Firefox */
	-moz-transform: rotate(15deg);
	/* IE */
	-ms-transform: rotate(15deg);
	/* Opera */
	-o-transform: rotate(15deg);
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.links {
	font-size: 15px;
	line-height: 40px;
}

/* Rotation of links in sidebar*/
.l1 {
	/* Safari */
	-webkit-transform:rotate(11deg);
	/* Firefox */
	-moz-transform: rotate(11deg);
	/* IE */
	-ms-transform: rotate(11deg);
	/* Opera */
	-o-transform: rotate(11deg);
}
.l2 {
	/* Safari */
	-webkit-transform:rotate(7deg);
	/* Firefox */
	-moz-transform: rotate(7deg);
	/* IE */
	-ms-transform: rotate(7deg);
	/* Opera */
	-o-transform: rotate(7deg);
}
.l3 {
	/* Safari */
	-webkit-transform:rotate(3deg);
	/* Firefox */
	-moz-transform: rotate(3deg);
	/* IE */
	-ms-transform: rotate(3deg);
	/* Opera */
	-o-transform: rotate(3deg);
}
.l4 {
	/* Safari */
	-webkit-transform:rotate(-1deg);
	/* Firefox */
	-moz-transform: rotate(-1deg);
	/* IE */
	-ms-transform: rotate(-1deg);
	/* Opera */
	-o-transform: rotate(-1deg);
}
.l5 {
	/* Safari */
	-webkit-transform:rotate(-5deg);
	/* Firefox */
	-moz-transform: rotate(-5deg);
	/* IE */
	-ms-transform: rotate(-5deg);
	/* Opera */
	-o-transform: rotate(-5deg);
}
.l6 {
	/* Safari */
	-webkit-transform:rotate(-9deg);
	/* Firefox */
	-moz-transform: rotate(-9deg);
	/* IE */
	-ms-transform: rotate(-9deg);
	/* Opera */
	-o-transform: rotate(-9deg);
}
.l7 {
	/* Safari */
	-webkit-transform:rotate(-13deg);
	/* Firefox */
	-moz-transform: rotate(-13deg);
	/* IE */
	-ms-transform: rotate(-13deg);
	/* Opera */
	-o-transform: rotate(-13deg);
}


#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
	float: left;
	top: 5px;
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
}

footer.a {
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}