/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
  overflow:visible;
  margin:0;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
* {
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.2);
          box-shadow: inset 0 0 100px rgba(0,0,0,.2);*/
}

p.tagline {
	margin-top: 40px;
	font-size:20px;
	font-family: 'Josefin Slab', serif;
}


/* diagonal div border going upwards to the right*/ 

.top-diag-right {
  height:90px;
  margin-top:-100px;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.bottom-diag-right {
  height:90px;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  margin-top: -90px;
}

/* diagonal div border going upwards to the left*/
.top-diag-left {
  height:90px;
  margin-top:-100px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.bottom-diag-left {
  height:90px;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  margin-top: -90px;
}

/* between first and second pages*/
.top-first {
  background: rgb(242, 239, 224);
  background-image: url("images/paper.png");
}
.bottom-second {
    background: rgb(208, 190, 118);
    background-image: url("images/yellow.png");
}

/* between second and third pages*/
.top-second {
  background: rgb(208, 190, 118);
  background-image: url("images/yellow.png");
}
.bottom-third {
    background: rgb(196, 141, 116);
    background-image: url("images/salmon.png");
}

/* between third and fourth pages*/
.top-third {
  background: rgb(196, 141, 116);
  background-image: url("images/salmon.png");
}
.bottom-fourth {
    background: rgb(149, 154, 121);
    background-image: url("images/greendust.png");
}

/* between fourth and fifth pages*/
.top-fourth {
  background: rgb(149, 154, 121);
  background-image: url("images/greendust.png");
}
.bottom-fifth {
    background: rgb(66, 66, 66);
    background-image: url("images/photos.png");

}

/* between fifth and sixth pages*/
.top-fifth {
  background: rgb(66, 66, 66);
  background-image: url("images/photos.png");

}
.bottom-sixth {
    background: rgb(208, 190, 118);
    background-image: url("images/yellow.png");
}

/* between sixth and seventh pages*/
.top-sixth {
  background: rgb(208, 190, 118);
  background-image: url("images/yellow.png");
}
.bottom-seventh {
    background: rgb(242, 239, 224);
    background-image: url("images/paper.png");
}


/* Parallax scrolling*/

.parallaxParent {
    height: 100vh;
    overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
}



p {
  font-family: 'Raleway', sans-serif;
}

/* page properties*/
.firstpage {
	background:rgb(242, 239, 224);
  background-image: url("images/paper.png");
	color: rgb(66, 66, 66);
  padding-bottom: 80px
}
.secondpage {
	background: rgb(208, 190, 118);
  background-image: url("images/yellow.png");
	color: rgb(66, 66, 66);
  z-index:10;
  float:center;
  width:100%;  
  padding-bottom:900px;
  padding-top:100px;
}

.thirdpage {
	background: rgb(196, 141, 116);
  background-image: url("images/salmon.png");
	color: rgb(66, 66, 66);
  padding-top: 100px;
  padding-bottom:900px;
}

.fourthpage {
	background: rgb(149, 154, 121);
  background-image: url("images/greendust.png");
	color: rgb(66, 66, 66);
  padding-top: 130px;
  padding-bottom:5100px;

}
.fifthpage {
	background: rgb(66, 66, 66);
  background-image: url("images/photos.png");
	color: rgb(242, 239, 224);
  padding-top: 100px;
  padding-bottom:4800px;
}
.sixthpage {
	background: rgb(208, 190, 118);
  background-image: url("images/yellow.png");
	color: rgb(66, 66, 66);
  padding-top: 40px;
  padding-bottom:350px;
}
.seventhpage {
	background: rgb(242, 239, 224);
  background-image: url("images/paper.png");
	color: rgb(66, 66, 66);
  padding-top: 100px;
}






.site-wrapper-inner {
  display: block;
  vertical-align: top;
  width:100%;
}
.cover-container {
    height:auto;
    display:inline-block;
    width:800px;
}

.picofme {
  position:absolute;
  width:850px;
  left:-3%;
}

.right-side-text {
  position:absolute;
  width:480px;
  right:8%; 
}

.left-side-text {
  padding-top:100px;
  position:absolute;
  width:490px;
  left:8%;
}


.collage {
  position:absolute;
  margin-top:-7px;
  width:900px;
  left:0.5%;
  -webkit-transform:rotate(-10deg);
    /* Firefox */
  -moz-transform: rotate(-10deg);
  /* IE */
  -ms-transform: rotate(-10deg);
  /* Opera */
  -o-transform: rotate(-10deg);
}

.projects-only {
  width:97%;
  position:absolute;
  left:1%;
  text-align: center;
}

.photos-only {
  position:absolute;
  padding-top:200px;
  width:97%;
  left:1.5%;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  padding-bottom: 5px;
}

td,img { 
  padding:5px; 
  border-width:0px; 
  margin:0px; 
  display: inline-block;
}

.imgwrap {
  position: relative;
}

p.imgDescription {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:0;
  text-align:center;
  padding-top:30%;
  background:black;
  color: white;
  font-family: 'Raleway', sans-serif;

  visibility:hidden;
  opacity:0;
}


.imgwrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.75;
  -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}




/* Padding for spacing */
.inner {
  padding-bottom: 20px;
  margin-top: 0;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  /*border-bottom: 2px solid transparent;*/
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  /*border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);*/
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  padding-top: 10%;
  padding-bottom: 30%;
  color: #fff;
}
.cover .btn-lg {
  padding: 10px 10px;
  font-weight: bold;
}



/*
* Bottom of viewport
*/ 
.bottomViewport {
	bottom: 5%;
	width:100%;
	left:0;
	page-break-after: always;
}


/*
 * Footer
 */

.footer {
	background: rgb(242, 239, 224);
  background-image: url("images/paper.png");
  color:rgb(66, 66, 66);
	width:100%;
  padding-top:250px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 900px;
  }
}






/**
items before this line are from bootstrap template
*/

body {
	overflow:scroll;
	/* disables overscrolling*/
}

mainContents {
	background: white url("images/brickwall.png") repeat;

}


/*#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
}*/

/*#slideContainer {
	width: 400%; <!-- to contain 4 panels, each with 100% of window width -->
	height: 100%;
}*/

/*.panel {
	height: 100%;
	width: 25%; <!-- relative to parent -> 25% of 400% = 100% of window width -->
	float: left;
}*/























/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    /*color: #fff;
    background-color: rgba(0,0,0,0.7);*/
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    /*color: #333;
    background-color: rgba(255,255,255,0.8);*/
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/*navbar stuff*/

.navbar {
  -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  background:black;
  opacity: 70%:;

}


.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: white;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

.navbar.transparent.navbar-inverse {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background: rgba(0,0,0,0.7);
    color:rgb(242, 239, 224);
}

.navbar-right
    {
      padding-right:50px;
      color:white;
    }

@media(min-width:768px) {
    .navbar-default {
        border-color: black;
        background-color: black;
        opacity: 70%:;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: white;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: white;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: white;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: rgb(242, 239, 224);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: gray;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: white;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: white;
    }

    .navbar-right
    {
      padding-right:50px;
      color:gb(242, 239, 224);
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}


#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
	float: left;
	top: 5px;
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
}

footer.a {
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}